html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.portfolio{
  border: 1px solid grey;
  border-radius: 10px;
  width: 100%;
  max-width: 660px;
  min-height: 800px;
  padding: 15px;
  /* margin: auto; */
}

.portfolio .btn-lg{
  min-width: 75%;
  /* margin: auto; */
}

#search_string{
  width: 100%;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
