{% extends "layout.html" %}

{% block title %}
Trakkaro | Edit
{% endblock %}

{% block content %}


<div class="portfolio" style="margin: auto; margin-top: 20px; min-height: 900px;">
    <div class="container">
        <div class="row text-center">
            <h4 class="fw-bold mb-6">{{ data['ticker'] }}</h4>
            <h4 class="mt-3">{{ data['longName'] }}</h4>
            <hr>
        </div>
        <div class="row">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-6">
                        <p>Price: {{ data['previousClose'] }} {{data['currency']}}</p>
                    </div>
                    <div class="col-md-6">
                        <p>Currently Owned: 34</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>Avg Buying Price: 11 &dollar;</p>
                    </div>
                    <div class="col-md-6">
                        <p>Total Value: 34 &dollar;</p>
                    </div>
                </div>

            </div>
            <hr>
        </div>
        
        <h4 class="fw-bold">Transactions</h4>
        {% for t in transactions %}
        <div class="row">
            <div class="col-10">
                <h6 class="fw-bold">{{t[0]}}</h6>
                <h7>Quantity: {{t[6]}}</h7>
                <h7>Price: {{t[5]}} {{data['currency']}}</h7><br>
                <button class="btn btn-primary btn-sm btn-block mt-2 mb-3" type="submit" data-bs-toggle="collapse"
                    href="#edit_form_1">Edit</button>
                <div class="collapse" id="edit_form_1">
                    <form action="" method="POST">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <label for="quantity">New Quantity</label>
                                </div>
                                <div class="col-6">
                                    <label for="price">New Price</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <input type="number" class="form-control-file" id="quantity"><br>
                                </div>
                                <div class="col-6">
                                    <input type="number" class="form-control-file" id="price">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <button class="btn btn-primary btn-sm btn-block mt-2 mb-3"
                                        type="submit">Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-2">
                <h7 class="fw-bold">Total: {{ t[5] * t[6] }} {{data['currency']}}</h7><br>
            </div>
            <hr>
        </div>
        {% endfor %}
        <div class="row text-center">
            <button class="btn btn-primary btn-lg btn-block m-6" type="submit">Add</button>
        </div>
        
    </div>
</div>

{% endblock %}